Rag Agent Part 1.json
{
  "name": "Rag Agent Part 1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1wexbgU-aUVrsbRFlrNFeCQNXkkEioW0C",
          "mode": "list",
          "cachedResultName": "Data for rag agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wexbgU-aUVrsbRFlrNFeCQNXkkEioW0C"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        360
      ],
      "id": "53486575-7d94-460e-826a-de9ed2000db1",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UKIZQfkiAvpJXDYU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1xmHiXj7IevKq1EoMyIT0ATZxfmEesN7w",
          "mode": "list",
          "cachedResultName": "Hdy.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1xmHiXj7IevKq1EoMyIT0ATZxfmEesN7w/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -500,
        360
      ],
      "id": "bf1632d9-57ac-4eb9-8871-1db98ecfeb1d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UKIZQfkiAvpJXDYU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragagent",
          "mode": "list",
          "cachedResultName": "ragagent"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -320,
        360
      ],
      "id": "09161bbd-5496-48aa-9db7-9f9366ea346a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HKLwdaHrahIiSV5g",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -340,
        580
      ],
      "id": "8075d0df-0b0b-41d5-b67b-bde43bfa3748",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "u2ROBS2mar8rg5SD",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "FilLEName",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -220,
        582.5
      ],
      "id": "3beb1b53-0245-4a8b-a843-9b0a3a41c827",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -140,
        780
      ],
      "id": "089a9e8f-9f78-48a9-a1f1-8f456cb891df",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        []
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "49600469-977b-43d9-8953-000b5f907cb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3442d5e08a0755ea15827e82c4b9382fcf2f815de5f2ae40ea143b4b90ddfecb"
  },
  "id": "GgWkrNIkfmCkvFcw",
  "tags": []
}